pkgbase = python-pydantic-core
	pkgdesc = Core validation logic for pydantic written in rust
	pkgver = 2.14.6
	pkgrel = 1
	epoch = 1
	url = https://github.com/pydantic/pydantic-core
	arch = x86_64
	license = MIT
	checkdepends = python-dirty-equals
	checkdepends = python-hypothesis
	checkdepends = python-pytest
	checkdepends = python-pytest-benchmark
	checkdepends = python-pytest-examples
	checkdepends = python-pytest-mock
	checkdepends = python-pytest-timeout
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-maturin
	depends = gcc-libs
	depends = glibc
	depends = python
	depends = python-typing-extensions
	options = !lto
	source = python-pydantic-core-2.14.6.tar.gz::https://github.com/pydantic/pydantic-core/archive/refs/tags/v2.14.6.tar.gz
	sha512sums = 08d11343ccbda5857bbd256598a7153dd1e57ce7ef1016436c5cf45adde0b7fb1a1e3cffcb0006982bbab5d25fc3f2f2d1161fbf3f979b4222e9573faf73c8d3
	b2sums = c9c9089c8888f0725c1b3cec301d6b03febb4c2ea8f501047c741301c6ce3c0a767fe458121104cc46e34ebad5fd38918d5fd238949dcaf74ecb41320fb29146

pkgname = python-pydantic-core
