pkgbase = python-pydantic-core
	pkgdesc = Core validation logic for pydantic written in rust
	pkgver = 2.10.1
	pkgrel = 1
	epoch = 1
	url = https://github.com/pydantic/pydantic-core
	arch = x86_64
	license = MIT
	checkdepends = python-dirty-equals
	checkdepends = python-hypothesis
	checkdepends = python-pytest
	checkdepends = python-pytest-benchmark
	checkdepends = python-pytest-examples
	checkdepends = python-pytest-mock
	checkdepends = python-pytest-timeout
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-maturin
	depends = gcc-libs
	depends = glibc
	depends = python
	depends = python-typing-extensions
	options = !lto
	source = python-pydantic-core-2.10.1.tar.gz::https://github.com/pydantic/pydantic-core/archive/refs/tags/v2.10.1.tar.gz
	sha512sums = d6aa538a86b353004eae9d6c680a089421c91424566196e8b18d0fbf4a80742e50d6cbe823ecbe9802d100f467b0647a951775a7bdeac722fed9f1788433e8a4
	b2sums = 9562c34df8163dccb926c0b73acc160fee0454814af67aa252dfb17e35820cf99ecf3732692c4250cfed1f4cfdf3a03d08f6efdb4483e13f4310e38d051306d9

pkgname = python-pydantic-core
