pkgbase = python-pydantic-core
	pkgdesc = Core validation logic for pydantic written in rust
	pkgver = 2.14.3
	pkgrel = 1
	epoch = 1
	url = https://github.com/pydantic/pydantic-core
	arch = x86_64
	license = MIT
	checkdepends = python-dirty-equals
	checkdepends = python-hypothesis
	checkdepends = python-pytest
	checkdepends = python-pytest-benchmark
	checkdepends = python-pytest-examples
	checkdepends = python-pytest-mock
	checkdepends = python-pytest-timeout
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-maturin
	depends = gcc-libs
	depends = glibc
	depends = python
	depends = python-typing-extensions
	options = !lto
	source = python-pydantic-core-2.14.3.tar.gz::https://github.com/pydantic/pydantic-core/archive/refs/tags/v2.14.3.tar.gz
	sha512sums = 1efdf18adeff722394d4f5bddb0d61654ac12d51a56098b1bd1776e1cff78e68a306ce0968da2631adf7fde31d4e6d57ce733dc31a6c443ba3743c48700d7cd4
	b2sums = 1b7e2b2ad459089442ca7931f8b5384ffb88555e35c985ca2918741e9ba10ff904327f3a4454c3bd222bbfbd667c30d829a3a4e60933e39f54178a465c3c0867

pkgname = python-pydantic-core
